*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Times New Roman', Times, serif;
}
.heading1 {
	font-size: 1.5em;
	position: absolute;
	top: 50px;
	left: auto;
}

.heading1 span {
	color: red;
	transition: linear 2s;
}

.heading1 #name {
	overflow: hidden;
	text-align:center;
	color: red;
}

/* Giới thiệu */

img {
	width: 150px;
	border-radius: 25px;
	margin: 100px 100px auto;
}

.name {
	text-align: center;
}

.name h1 {
	font-size: 2.5em;
	color: red;
	display: block;
}

.content {
	font-size: 1.1em;
	padding: 10px 10px;
}

.info {
	font-size: 1.2em;
	padding-left: 10px ;
}

.info a{
	position: absolute;
	left: 100px;
	top: 100px;
}

.info .con1{
	position: absolute;
	left: 5px;
	top: 30px;
}

.info .con2{
	position: absolute;

	top: 170px;
}