* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
:root {
	--font-family-one: 'Sora', sans-serif;
	--font-weight-one-light: 300;
	--font-weight-one-bold: 600;
	--font-family-two: 'Sora', sans-serif;
	--font-weight-two-bold: 600;
	--font-family-three: 'Inter', sans-serif;
	--font-weight-three-regular: 400;
	--font-weight-three-medium: 500;
	--font-weight-three-bold: 700;
}
:root {
	--ghost-accent-color: #ff531a;
}
:root {
	--lightense-z-index: 999999;
	--lightense-backdrop: var(--bg-color-80, rgba(255, 255, 255, .98));
	--lightense-duration: 300ms;
	--lightense-timing-func: cubic-bezier(.2, 0, .1, 1);
}:root {
	--height-logo-header: 40px;
	--height-logo-footer: 40px;
	--height-logo-mobile-header: 34px;
	--height-logo-mobile-footer: 34px;
	--max-width-global-wrap: 1600px;
	--max-width-post-wrap: 720px;
	--grid-gap: 16px;
	--border-radius: 26px;
	--margin-wrap-left-right: 5vw;
	--font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	--font-family-one: var(--font-family-system);
	--font-weight-one-light: 300;
	--font-weight-one-bold: 700;
	--font-family-two: var(--font-family-system);
	--font-weight-two-bold: 700;
	--font-family-three: var(--font-family-system);
	--font-weight-three-regular: 400;
	--font-weight-three-medium: 500;
	--font-weight-three-bold: 700;
	--ghost-accent-color: #ff4d82;
	--color-font-one: #151618;
	--color-font-two: #fff;
	--color-font-three: #151618;
	--color-font-four: #fff;
	--color-font-five: #151618;
	--color-font-six: #fff;
	--color-font-black: #151618;
	--color-one: #efeef0;
	--color-two: #e6e6ea;
	--color-three: #151618;
	--color-four: #151618;
	--color-five: #151618;
	--color-six: #fff;
	--color-seven: #151618;
	--color-eight: #efeef0;
	--color-nine: #f6f6f8;
	--color-ten: #fff;
	--color-eleven: #f6f6f8;
	--color-twelve: #f2f0f2;
	--color-thirteen: #e6e6ea;
	--color-white: #fff;
	--color-body: #fff;
	--color-body-partial: #fff;
	--color-border-one: #ceced0;
	--color-border-two: #ceced0;
	--color-border-three: #797c82;
	--border: 1px solid;
	--color-alert-success: #61d6ad;
	--color-alert-error: #ff6c78;
	--opacity-one: .8;
	--opacity-two: 1;
}
.global-wrap {
	padding: 0 69px 6.240px ;
	margin: 0 55.50px;
}
.is-title {
	font-size: 50px;
	cursor: pointer;
}
.header-logo a {
	text-decoration: none;
	color: var(--color-five);
}
.header-wrap {
	min-height: 90px;
	padding-bottom: 2vh;
}
div {
	display: block;
}
.global-padding {
	max-width: var(--max-width-global-wrap);
	margin-right: auto;
	margin-left: auto;
	padding-right: var(--margin-wrap-left-right);
	padding-left: var(--margin-wrap-left-right);
}
.header-section {
	color: var(--color-font-one);
	background-color: var(--color-body-partial);
}
body {
	font-family: 'Roboto',sans-serif;
}

caption h1 {
	font-size: 7vh;
	color: var(--color-alert-success);text-align: center;
}