*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Times New Roman', Times, serif;
}

nav{
	overflow: hidden;
	background-color: aqua;
}

nav a{
	float: right;
	text-decoration: none;
	font-size: 1.4em;
	color: orange;
	align-items: center;
	text-align: center;
	list-style:none;
	padding: 14px 16px;
}

nav a:hover{
	background-color: blue;
	color: aliceblue;
}

nav img{
	padding: 5px;
	width: 4%;
}

